body, html{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

header{
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr 2fr 350px 170px;
    grid-template-areas:
    " nav nav image aside "
    " text text image aside "
}

header .heading{
    font-weight: 200;
    grid-area: text;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6em;
    border-right: solid 1px silver;
    border-top: solid 1px silver;
    border-top-right-radius: 50px;
}

header .heroImg{
    grid-area: image;
    background: url("/images/benfelda.jpg");
    background-size: cover;
    background-position: center;
    height:700px;
    width:300px;
    margin-left: 30px;
    clip-path: polygon(0 0, 100% 0, 100% 550px, 50% 100%, 0 550px);
}

section.about{
    display: grid;
    grid-template-areas: aside;
}

nav{
    grid-area: nav;
    height: 100px;
    margin-right: 80px;
    font-family: 'Montserrat Subrayada', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: silver;
}

nav > ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 0 -5px 0;
}

nav > ul > li{
    display: inline;
    background: white;
    z-index: 1;
}

section.art {
    display: grid;
    grid-gap: 152px;
    grid-template-columns: repeat(6, 212px);
    padding: 50px;
    margin-top: -120px;
    direction: rtl;
}

section.art > div.piece {
    height: 212px;
    transform: rotate(45deg);
    width: 212px;
    background: gray;
    transition: all ease-out .3s;
}

section.art > div.piece:hover {
}

